@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #efedd6;
    font-family: 'Muli', sans-serif;
    margin: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 10px;
}

.bar {
    margin: 10px;
    background: steelblue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    width: 400px;
    height: 200px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(200%);
    transition: transform 0.4s ease;
}

.bar.show {
    transform: translateX(0);
}

.box:nth-of-type(even) {

}




