@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.bg {
    background: url('https://cdn.the-scientist.com/assets/articleNo/66719/aImg/34769/article-desert-l.png') no-repeat center center/cover;
    position: absolute;
    top: -30;
    left: -30;
    width: calc(100vw + 60px);
    height: calc(100vw + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color: #fff;
}

