@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

body {
    background-color: #f6f7fb;
    font-family: 'Muli', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.8s ease;
}

.circle {
    background: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.8s ease;
}

.btn {
   background: var(--line-border-fill);
   color: #fff;
   border: none;
   border-radius: 6px;
   padding: 5px;
   width: 65px;
   cursor: pointer;
   font-family: inherit;
   margin: 5px;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: none;

}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}
